## load data from S3 with Pandas

In [1]:
import pandas

In [2]:
df = pandas.read_excel( 's3://isat252-mensah/Diamonds.xls' )
df[:10] #the first ten rows of the diamonds table

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
0     1    0.30     D     VS2   GIA   1302
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641
5     6    0.31     E     VS1   GIA   1555
6     7    0.31     F     VS1   GIA   1427
7     8    0.31     G    VVS2   GIA   1427
8     9    0.31     H     VS2   GIA   1126
9    10    0.31     I     VS1   GIA   1126

In [3]:
df.describe()

             IDNO      WEIGHT         PRICE
count  308.000000  308.000000    308.000000
mean   154.500000    0.630909   5019.483766
std     89.056162    0.277183   3403.115715
min      1.000000    0.180000    638.000000
25%     77.750000    0.350000   1625.000000
50%    154.500000    0.620000   4215.000000
75%    231.250000    0.850000   7446.000000
max    308.000000    1.100000  16008.000000

In [4]:
df['WEIGHT']

0      0.30
1      0.30
2      0.30
3      0.30
4      0.31
5      0.31
6      0.31
7      0.31
8      0.31
9      0.31
10     0.32
11     0.32
12     0.33
13     0.33
14     0.34
15     0.34
16     0.34
17     0.34
18     0.34
19     0.34
20     0.35
21     0.35
22     0.35
23     0.35
24     0.36
25     0.36
26     0.37
27     0.37
28     0.40
29     0.40
       ...
278    1.00
279    1.00
280    1.00
281    1.00
282    1.00
283    1.00
284    1.00
285    1.00
286    1.00
287    1.00
288    1.00
289    1.00
290    1.00
291    1.00
292    1.00
293    1.01
294    1.01
295    1.01
296    1.01
297    1.01
298    1.01
299    1.01
300    1.01
301    1.01
302    1.01
303    1.01
304    1.02
305    1.06
306    1.02
307    1.09
Name: WEIGHT, Length: 308, dtype: float64

In [5]:
df['COLOR']

0      D
1      E
2      G
3      G
4      D
5      E
6      F
7      G
8      H
9      I
10     F
11     G
12     E
13     I
14     E
15     F
16     G
17     G
18     H
19     H
20     E
21     F
22     G
23     H
24     F
25     H
26     F
27     H
28     F
29     H
      ..
278    E
279    E
280    E
281    F
282    F
283    G
284    G
285    G
286    H
287    H
288    H
289    I
290    I
291    I
292    I
293    D
294    E
295    E
296    F
297    F
298    G
299    G
300    H
301    H
302    I
303    I
304    F
305    H
306    H
307    I
Name: COLOR, Length: 308, dtype: object

In [7]:
df[1:5]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE
1     2    0.30     E     VS1   GIA   1510
2     3    0.30     G    VVS1   GIA   1510
3     4    0.30     G     VS1   GIA   1260
4     5    0.31     D     VS1   GIA   1641

In [8]:
df.loc[df['PRICE']>1500]

     IDNO  WEIGHT COLOR CLARITY RATER  PRICE
1       2    0.30     E     VS1   GIA   1510
2       3    0.30     G    VVS1   GIA   1510
4       5    0.31     D     VS1   GIA   1641
5       6    0.31     E     VS1   GIA   1555
14     15    0.34     E     VS1   GIA   1693
15     16    0.34     F     VS1   GIA   1551
20     21    0.35     E     VS1   GIA   1738
21     22    0.35     F     VS1   GIA   1593
24     25    0.36     F     VS1   GIA   1635
28     29    0.40     F     VS1   GIA   1911
29     30    0.40     H     VS1   GIA   1525
30     31    0.41     F     VS1   GIA   1956
31     32    0.43     H    VVS2   GIA   1747
32     33    0.45     I     VS1   GIA   1572
33     34    0.46     E    VVS2   GIA   2942
34     35    0.48     G    VVS2   GIA   2532
35     36    0.50     E     VS1   GIA   3501
36     37    0.50     E     VS1   GIA   3501
37     38    0.50     F    VVS2   GIA   3501
38     39    0.50     F     VS1   GIA   3293
39     40    0.50     G     VS1   GIA   3016
40     41    0.51     F    VVS2   GIA   3567
41     42    0.51     G     VS1   GIA   3205
42     43    0.52     D     VS2   GIA   3490
43     44    0.52     E     VS1   GIA   3635
44     45    0.52     F    VVS2   GIA   3635
45     46    0.52     F     VS1   GIA   3418
46     47    0.53     D     VS1   GIA   3921
47     48    0.53     F    VVS2   GIA   3701
48     49    0.53     F     VS1   GIA   3480
..    ...     ...   ...     ...   ...    ...
278   279    1.00     E    VVS1   HRD  14051
279   280    1.00     E    VVS2   HRD  11419
280   281    1.00     E     VS1   HRD  10588
281   282    1.00     F    VVS1   HRD  11696
282   283    1.00     F    VVS2   HRD  10588
283   284    1.00     G    VVS1   HRD  10450
284   285    1.00     G    VVS2   HRD   9896
285   286    1.00     G     VS2   HRD   9203
286   287    1.00     H    VVS1   HRD   9480
287   288    1.00     H     VS1   HRD   9065
288   289    1.00     H     VS2   HRD   8788
289   290    1.00     I    VVS1   HRD   8788
290   291    1.00     I    VVS2   HRD   8372
291   292    1.00     I     VS1   HRD   8095
292   293    1.00     I     VS2   HRD   7818
293   294    1.01     D    VVS2   HRD  13909
294   295    1.01     E    VVS2   HRD  11531
295   296    1.01     E     VS1   HRD  10692
296   297    1.01     F    VVS1   HRD  11811
297   298    1.01     F     VS1   HRD  10272
298   299    1.01     G    VVS2   HRD   9993
299   300    1.01     G     VS2   HRD   9293
300   301    1.01     H    VVS2   HRD   9433
301   302    1.01     H     VS1   HRD   9153
302   303    1.01     I    VVS1   HRD   8873
303   304    1.01     I     VS1   HRD   8175
304   305    1.02     F    VVS2   HRD  10796
305   306    1.06     H    VVS2   HRD   9890
306   307    1.02     H     VS2   HRD   8959
307   308    1.09     I    VVS2   HRD   9107

[245 rows x 6 columns]

In [13]:
df['RATER'].value_counts()

GIA    151
HRD     79
IGI     78
Name: RATER, dtype: int64

In [12]:
df['PRICE'].count() #number of non-null values

308

In [14]:
df['PRICE'].mean()

5019.483766233766

In [18]:
df['PRICE'].sem() #mean,median,min,max,std,var,sem

193.91051432086505

In [19]:
df.groupby('COLOR').mean() #aggregation

             IDNO    WEIGHT        PRICE
COLOR
D      128.812500  0.638125  7099.875000
E      140.590909  0.623182  5507.931818
F      149.012195  0.592927  4786.402439
G      159.492308  0.580769  4426.184615
H      165.704918  0.673443  4965.016393
I      166.125000  0.731000  5175.025000

In [22]:
max_price_per_rater= df.groupby('RATER').max()['PRICE']
max_price_per_rater

RATER
GIA    16008
HRD    14051
IGI     9713
Name: PRICE, dtype: int64

In [23]:
df['unit_price']=df['PRICE']/df['WEIGHT'] #create new column
df[:5]

   IDNO  WEIGHT COLOR CLARITY RATER  PRICE   unit_price
0     1    0.30     D     VS2   GIA   1302  4340.000000
1     2    0.30     E     VS1   GIA   1510  5033.333333
2     3    0.30     G    VVS1   GIA   1510  5033.333333
3     4    0.30     G     VS1   GIA   1260  4200.000000
4     5    0.31     D     VS1   GIA   1641  5293.548387

## linear regression

In [24]:
from scipy import stats

In [25]:
result = stats.linregress(df['WEIGHT'],df["PRICE"]) #build a SLR, x first y second

In [31]:
print('slope is {}'.format(result.slope))
print('intercept is {}'.format(result.intercept))
print('r square is {}',format(result.rvalue*result.rvalue))
print('p value is {}'.format(result.pvalue))
print('std error is {}'.format(result.stderr))

slope is 11598.884012882309
intercept is -2298.3576018937993
r square is {} 0.8925083858672289
p value is 3.0448096265906994e-150
std error is 230.1106037406023

In [32]:
print (' p of {} w is ${}'.format(0.9,0.9*result.slope+result.intercept))

 p of 0.9 w is $8140.638009700279

## sentiment analysis

In [35]:
!pip install textblob

Requirement already satisfied: textblob in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (0.15.3)
Requirement already satisfied: nltk>=3.1 in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from textblob) (3.3)
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/python3/lib/python3.6/site-packages (from nltk>=3.1->textblob) (1.11.0)
You are using pip version 10.0.1, however version 20.2b1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [36]:
from textblob import TextBlob

In [47]:
result  = TextBlob('I like python')

In [48]:
print('polarity {}'.format(result.sentiment.polarity))
print('subjectivity {}'.format(result.sentiment.subjectivity))

polarity 0.0
subjectivity 0.0